@model List<Resiliens.Entidades.Peticao>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@foreach (var peticao in Model)
{
    <div class="card">
        <div class="card-header">
            @peticao.NaturezaAcao
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <tr class="table-warning">
                    <th>Requerido</th>
                    <th>Comarca</th>
                    <th>Natureza do processo</th>
                </tr>
                <tr>
                    <td>@peticao.Requerido - @peticao.CnpjRequerido</td>
                    <td>@peticao.Comarca</td>
                    <td>@peticao.NaturezaProcesso</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
}
<div class="row">
    <div class="col-md-2 col-md-offset-9"><a href="@Url.Action("Index", "Home")" class="btn btn-success">Voltar</a></div>
</div>