@model List<Resiliens.Dto.PeticaoDto>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="card">
    <div class="card-header">
        Petições Cadastradas
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <tr class="table-warning">
                <th>Codigo da Petição</th>
                <th>Reclamante</th>
                <th>Requerido</th>
                <th>Natureza da ação</th>
                <th>Natureza do processo</th>
                <th>Comarca</th>
            </tr>
            @foreach (var peticao in Model)
            {
                <tr>
                    <td>@peticao.CodigoPeticao</td>
                    <td>@peticao.Reclamante</td>
                    <td>@peticao.Requerido</td>
                    <td>@peticao.NaturezaAcao</td>
                    <td>@peticao.NaturezaProcesso</td>
                    <td>@peticao.Comarca</td>
                </tr>
            }
        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 col-md-offset-9"><a href="@Url.Action("Index", "Home")" class="btn btn-success">Voltar</a></div>
</div>